.custom-black{
    background-color: #2b2b2b !important;
}

.custom-blacktext{
    color: #2b2b2b !important;
}

.textblue{
    color: #59D7E7 !important;
}

.bg-blue{
    background-color: #59D7E7 !important;
}

.linktext{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    
}

.buttontext{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
}


